.table-responsive {
  max-height: 680px;
  overflow: auto;
}

.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.resource-box {
  height: 17rem !important;
}

.upload-transfer-file-ready,
.upload-transfer-file-fail,
.upload-gl-revenue-file-ready {
  font-size: 5rem;
}
.upload-transfer-file-ready,
.upload-gl-revenue-file-ready {
  color: limegreen;
}
.upload-transfer-file-fail {
  color: red;
}

.resource-box__icon,
.resource-box__icon,
.resource-box__icon {
  font-size: 6rem;
}
.resource-box__icon .processing {
  color: #FDD65E;
}
.resource-box__icon .ready {
  color: limegreen;
}

.home-page .card {
  height: 270px;
}

.status-message {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.gl-revenue-count-rows,
.transfer-count-rows {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.position-left {
  position: absolute;
  left: 20px;
  bottom: 10px;
}
.position-right {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.hide {
  display: none !important;
}

.resources {
  position: relative;
}

.import-file-process {
  position: relative;
  top: 28%;
}

.error-icon {
  color: red;
}

.broken-data-icon {
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 150px;
}

.error-type-lists {
  font-weight: normal !important;
  font-style: normal !important;
  color: red !important;
}

tbody .edit-able, tbody .reconcile-note{
  cursor: pointer;
  position: relative;
}
tbody .edit-able:hover{
  border: 1px solid #adb5bd !important;
}
.edit-able > .bx-pencil, .reconcile-note > .bx-pencil{
  position: absolute;
  left: 5px;
  top: calc(50% - 9px);
  font-size: 16px;
}

.more-note-icon{
  position: absolute;
  top: -5px;
  right: 0px;
  transform: rotate(-45deg);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid green;
}

.more-note-td{
  position: relative;
}

.dt-body-right{
  text-align: right;
}

.table td, .table th{
  padding: .45rem;
}
.reconcile-note {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 300px;
}

.more-children-data{
  cursor: pointer;
}

.children-tr{
  background-color: #f2747412;
}

.dataTables_scrollHead{
  position: -webkit-sticky!important;
  position: sticky!important;
  top: 0;
  background-color: white;
  z-index: 100;
}

.reconcile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background: #2a2a2a55;
}

.reconcile-overlay-active {
  display: block;
  z-index: 1050;
}